*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .3s;
}
body{
    background-color: #0C1013;
    color: #fff;
    margin: 0 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-header-page{
    width: 100%;
    max-width: 975px;
    height: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 8px 28px;
    gap: 6px;
    background-color: #050709;
}

.main-header-title{
    font-size: 36px;
    text-transform: uppercase;
    align-self: center;
}
@media (max-width: 600px) {
    .main-header-title{
        font-size: 28px;
    }
}
.main-navigation-list-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}
.main-navigation-list-link li{
    list-style: none;
}
.main-navigation-link{
    display: flex;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    padding: 16px 20px;
}
.main-navigation-link:hover{
    background-color: #CBE200;
    color: #000;
}
.main-navigation-link:active{
    text-decoration: underline;
}


.main-title{
    text-align: center;
    margin: 48px 0;
    font-size: 48px;
    text-transform: uppercase;
}

.plans-container{
    display: flex;
    width: 100%;
    max-width: 975px;
    flex-wrap: wrap;
    margin: auto auto 20px;
    justify-content: space-evenly;
    gap: 22px;
}
.plans{
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 25px;
    border-radius: 10px;
    background-color: #20262C;
}
.plans h2{
    text-transform: uppercase;
    font-size: 32px;
}

.horizontal-line{
    margin: 10px 0 20px;
    border: 1px solid;
    color: #CBE200;
}

.benefits-list{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.benefit{
    list-style: inside;
    color: #B3B5B7;
}
.benefit::marker{
    color: #CBE200;
}

.price-value{
    font-size: 28px;
}

.sign-in{
    background-color: #CBE200;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    padding: 16px 0;
    margin-top: 32px;
    border-radius: 6px;
    font-weight: 900;
}
.sign-in:hover{
    box-shadow: 0 0 10px #CBE200;
}

::selection{
    background-color: #8100E3;
}
.benefit::selection,.sign-in::selection{
    color:white;
}